/* Start Header */
.main-container{
  position: relative;
}

.main-container .mobile{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  width: 0%;
  height: 0%;
  visibility: hidden;
  transition: all 0.5s ease;
}

.main-container .mobile .mobile-content-left{
  flex: 0 0 40%;
  width: 40%;
  background-color: var(--primary-color-900);
  padding: 15px;
}

.main-container .mobile .mobile-content-left .close-window {
  margin: 20px 0;
}

.main-container .mobile .mobile-content-left .close-window i{
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}

.main-container .mobile .mobile-content-left .search {
  width: 100%;
  margin: 15px 0;
}

.main-container .mobile .mobile-content-left .search form {
  position: relative;
}

.main-container .mobile .mobile-content-left .search form input{
  width: 100%;
  height: 36px;
  border: none;
  padding-left: 15px;
  border-radius: 30px;
}

.main-container .mobile .mobile-content-left .search form button{
  position: absolute;
  top: 0;
  right: 0;
  height: 36px;
  width: 36px;
  border: none; 
  border-radius: 50%;
  background-color: var(--primary-color-600);
  color: #fff;
}

.main-container .mobile .mobile-content-left .nav>li {
  width: 100%;
  border-bottom: 1px solid rgba(255,255,255, 0.1);
  margin-bottom: 15px;
}

.main-container .mobile .mobile-content-left .nav li>a{
  width: 100%;
  font-size: 20px;
  color: #e5e5e5;
  font-weight: 400;
}

.main-container .mobile .mobile-content-left .nav li>ul{
  padding-left: 25px;
  font-size: 18px;
}

.main-container .mobile .mobile-content-left .nav li>ul li a:hover{
  color: var(--primary-color-600);
}

.main-container .mobile .mobile-content-right {
  flex: 1;
  background-color: rgba(255,255,255, 0.1);
  backdrop-filter: blur(15px);
}

.mobile-nav-contact div{
  margin-bottom: 10px;
}

.mobile-nav-contact span {
  cursor: pointer;
  color: #ffffff;
}

.mobile-nav-contact span i {
  margin-right: 5px;
}
/* End mobile menu */

/* start cart */
.shoppingcart {
  position: absolute;
  top: 0;
  right: 0;
  width: 0px;
  background-color: #f0f0f0;
  height: 100%;
  padding: 15px;
  display: none;
  transition: width 0.3s ease;
  z-index: 1;
}

.shoppingcart.active {
  display: block;
  width: 300px;
}

.shoppingcart-close i{
  color: var(--text-color-primary-900);
  font-size: 20px;
  width: auto;
  cursor: pointer;
}

.shoppingcart-title {
  text-align: center;
  color: var(--text-color-primary-900);
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 15px;
}

.shoppingcart-product{
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin-bottom: 25px;
}

.shoppingcart-product_img {
  /* width: 90px; */
  height: 100px;
  flex: 0 0 30%;
  margin-right: 15px;
}

.shoppingcart-product_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.shoppingcart-product_content{
  flex: 0 0 55%;
  width: 55%;
}

.shoppingcart-product_content .productname {
  margin-bottom: 5px;
}

.shoppingcart-product_content .productname p{
  font-size: 16px;
  font-weight: 500;
}

.shoppingcart-product_content .productprice{
  font-size: 18px;
  text-align: start;
  font-weight: 600;
  color: var(--text-color-primary-900);
  margin-bottom: 10px;
}

.shoppingcart-product_content input {
  width: 30px;
  height: 30px;
  border: 1px solid var(--primary-color-100);
  font-size: 16px;
  text-align: center;
}

.shoppingcart-product_content input::-webkit-outer-spin-button,
.shoppingcart-product_content input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.shoppingcart-product_deleteProduct {
  width: 100%;
  text-align: center;
  color: var(--text-color-red);
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.shoppingcart-product_deleteProduct:hover {
  background-color: var(--primary-color-900);
  color: #ddd;
  font-weight: 300;
}

.shoppingcart-content-left_total {
  text-align: end;
  color: var(--text-color-primary-900);
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 25px;
}

.shoppingcart-content-left_button {
  text-align: center;
}

.shoppingcart-content-left_button a{
  width: 250px;
  background-color: var(--primary-color-600);
  padding: 15px;
  color: #fff;
  font-weight: 500;
  transition: all 0.3s ease;
  width: 500px;
}

.shoppingcart-content-left_button a:hover{
  background-color: var(--primary-color-900);
  color: #fff;
}

/* end cart */
.contact {
  height: 37px;
  background: var(--primary-color-900);
}

.contact .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.contact .content .content-left {
  display: flex;
  align-items: center;
  gap: 30px;
}

.contact .content .content-left .content-left-item {
  color: #ffffff;
  cursor: pointer;
}

.contact .content .content-left .content-left-item:hover {
  color: var(--primary-color-100);
  transition: all 0.3s ease;
}

.contact .content .content-left .content-left-item span i {
  margin-right: 5px;
}

.contact .content .content-right-nav {
  display: flex;
  align-items: center;
  gap: 14px;
}

.contact .content .content-right-nav a {
  color: #ffffff;
}

.contact .content .content-right-nav a:hover {
  color: var(--primary-color-100);
  transition: all 0.3s ease;
}

.feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.feature .icon {
  display: none;
  padding: 7px 5px;
  width: 39px;
  height: 39px;
  background-color: var(--primary-color-900);
  text-align: center;
  border-radius: 10%;
}

.feature .icon i{
  font-size: 25px;
  color: #fff;
}

.feature .logo img {
  width: 127px;
}

.feature .feature-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 0 0 70%;
  /* max-width: 100%; */
}

.feature .feature-item .search {
  flex: 0 0 70%;
  max-width: 100%;
  padding: 5px 10px;
}

.feature .feature-item .search form {
  position: relative;
  border: 2px solid var(--gray-color-500);
  border-radius: 5px;
}

.feature .feature-item .search form input {
  width: 70%;
  height: 36px;
  border: none;
  padding-left: 15px;
}

.feature .feature-item .search form input::placeholder {
  font-size: 16px;
}

.feature .feature-item .search form button {
  width: 55px;
  height: 37px;
  border: none;
  position: absolute;
  right: -1px;
  border-radius: 0px 4px 4px 0;
  background-color: var(--primary-color-600);
}

.feature .feature-item .search form button:hover {
  background-color: var(--primary-color-100);
  transition: all 0.3s ease;
}

.feature .feature-item .search form button i {
  color: #ffffff;
  font-size: 25px;
}

.feature .feature-item .cart {
  position: relative;
  display: flex;
  align-items: center;
  width: 128px;
  height: 39px;
  background-color: var(--primary-color-600);
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
}

.feature .feature-item .cart:hover {
  background-color: var(--primary-color-100);
  transition: all 0.3s ease;
}

.feature .feature-item .cart .cart-title {
  font-size: 16px;
  font-weight: 500;
  flex: 0 0 60%;
  text-align: center;
}

.feature .feature-item .cart .cart-icon {
  font-size: 25px;
}

.feature .feature-item .cart .cart-quantity {
  position: absolute;
  width: 25px;
  height: 25px;
  top: -25px;
  right: 0;
  text-align: center;
  background-color: red;
  border-radius: 50%;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

.navigation {
  height: 40px;
  background: var(--primary-color-900);
}

.navigation .nav {
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
}

.navigation .nav > li {
  padding: 5px;
}

.navigation .nav > li > a {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  padding: 10px 20px;
}

.navigation .nav > li:first-child {
  background: var(--primary-color-600);
}

.navigation .nav > li:hover {
  background-color: var(--text-color-primary-900);
  color: var(--text-color-primary-900);
  transition: all 0.3s ease;
}

.navigation .nav .nav-product {
  position: relative;
}

.navigation .nav > li:hover .sub-menu {
  visibility: visible;
}

.navigation .nav .sub-menu {
  position: absolute;
  width: 200px;
  top: 40px;
  left: 0px;
  text-align: start;
  border: 1px solid var(--primary-color-100);
  background: #ffffff;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 1;
}

.navigation .nav .sub-menu li {
  text-align: -webkit-match-parent;
  padding: 10px;
}

.navigation .nav .sub-menu li:hover {
  color: #ffffff;
  background-color: var(--primary-color-600);
}

.navigation .nav .sub-menu li:hover a {
  color: #ffffff;
}

.navigation .nav .sub-menu a {
  line-height: 40px;
  font-size: 15px;
  font-weight: 400;
  color: rgb(44, 44, 44);
}

/* ------------------- slider --------------------- */
.aspect-ratio-169 {
  display: block;
  position: relative;
  padding-top: 40.46%;
  transition: 0.5s;
}

.aspect-ratio-169 img {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
/* ---------------------- End Header ----------------*/
.line {
  width: 100%;
  height: 2px;
  background-color: var(--gray-color-200);
  margin: 20px 0;
}
/* ----------------- main content ----------------------- */
/* best sell */
.bestsell {
  margin-bottom: 30px;
}

.bestsell .bestsell-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 15px;
}

.bestsell .bestsell-title h2 {
  border-bottom: 2px solid var(--primary-color-600);
  font-size: 30px;
  font-weight: 400;
}

.bestsell .bestsell-content {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--spacing));
  --spacing: 15px;
  --column: 5;
}

.bestsell .bestsell-content .card {
  width: calc(calc(100% / var(--column)) - var(--spacing));
  border: 1px solid var(--gray-color-200);
  position: relative;
  margin-left: var(--spacing);
  margin-bottom: var(--spacing);
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.bestsell .bestsell-content .card:hover .card-image {
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.bestsell .bestsell-content .card-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  flex-shrink: 0;
}

.bestsell .bestsell-content .card-content {
  flex: 1;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.bestsell .bestsell-content .card-title {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color-primary-900);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.bestsell .bestsell-content .card-price {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.bestsell .bestsell-content .card-price .card-price-sell {
  color: var(--text-color-red);
  font-size: 15px;
  font-weight: 500;
}

.bestsell .bestsell-content .card-price .card-price-org {
  font-weight: 500;
  text-decoration: line-through;
  font-size: 13px;
}

.bestsell .bestsell-content .sell-percent {
  position: absolute;
  border-radius: 50%;
  background: red;
  width: 35px;
  height: 35px;
  text-align: center;
  padding-top: 8px;
  top: 10px;
  right: 10px;
}

.bestsell .bestsell-content .sell-percent p {
  color: #ffffff;
}
/* end best sell */
/* start helped */
.helped {
  display: flex;
  background-color: #f6f7f8;
  padding-left: 50px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.helped .form {
  flex: 0 0 45%;
  width: 45%;
  margin-right: 30px;
}

.helped .form .hotline {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 25px;
}

.helped .form .hotline span {
  background-color: var(--primary-color-100);
  padding: 10px 20px;
  width: auto;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
}

.helped .form .form-title {
  margin-bottom: 35px;
}

.helped .form .form-title h2 {
  font-size: 35px;
}

.helped .form .form-title p {
  font-size: 18px;
  color: #4a4a4b;
}

.helped .form form {
  width: 100%;
}

.helped .form input {
  border: 1px solid #ddd;
  padding: 0 0.75em;
  height: 2.5em;
  font-size: 0.97em;
  max-width: 100%;
  width: 100%;
  vertical-align: middle;
  background-color: #fff;
  transition: color 0.3s, border 0.3s, background 0.3s, opacity 0.3s;
  margin: 10px auto;
}

.helped .form .flex {
  gap: 20px;
}

.helped .form form textarea {
  border: 1px solid #ddd;
  padding: 0 0.75em;
  font-size: 0.97em;
  max-width: 100%;
  width: 100%;
  vertical-align: middle;
  background-color: #fff;
  transition: color 0.3s, border 0.3s, background 0.3s, opacity 0.3s;
  margin: 10px auto;
}

.helped .form form button {
  font-size: 14px;
  background-color: var(--primary-color-600);
  border: none;
  padding: 10px;
  font-weight: 600;
  color: #f0f0f0;
  transition: all 0.3 ease;
}

.helped .form form button:hover {
  font-size: 14px;
  color: #ffffff;
  background-color: var(--primary-color-100);
}

.helped .form .form-button {
  justify-content: end;
}

.helped .banner {
  flex: 0 0 50%;
  width: 50%;
}
/* end helped */

/* Start footer */
.footer {
  width: 100%;
  background-color: var(--primary-color-900);
  padding-top: 30px;
}

.footer .footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer .footer-content .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  color: #fff;
  max-width: 30%;
}

.footer .footer-content .logo{
  /* max-width: 180px; */
  max-height: 120px;
  margin-bottom: 30px;
}

.footer .footer-content h4{
  font-size: 25px;
  padding-bottom: 20px;
}

.footer .footer-content p{
  font-size: 15px;
  margin: 0 0 8px 0;
  text-overflow: ellipsis;
  word-break: break-word;
}

.footer .footer-content a{
  font-size: 18px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
  color: #fff;
  transition: all 0.3s ease;
}

.footer .footer-content a:hover {
  color: var(--primary-color-600);
}

.footer .footer-content .follow i{
  color: #5ea4ff;
  padding-right: 4px;
  cursor: pointer;
}

.footer .footer-content .install .row > img{
  border: 1px solid #5ea4ff;
  border-radius: 6px;
  width: 150px;
}

.footer .footer-content .install > img{
  margin: 10px 0 15px 0;
  height: 75px;
}

.footer .footer-content .coppyright{
  width: 100%;
  text-align: center;
}
/* END footer */
/* --------------------- End main content --------------- */

/* -------------- Responsive ------------ */

@media screen and (max-width: 1049px) {  
  .container {
    width: 100%;
  }

  .content {
    padding: 0 15px;
  }

  .bestsell {
    padding: 0 15px;
  }

  .bestsell .bestsell-content {
    --spacing: 20px;
    --column: 4;
  }

  .bestsell .bestsell-content .card .card-price-sell{
    font-size: 16px;
  }

  .bestsell .bestsell-content .card .card-price-org{
    font-size: 12px;
  }

  .footer .footer-content {
    padding: 0 15px;
  }
}

@media screen and (max-width: 789px) {
  .contact .content .content-left{
    display: none;
  }

  .contact .content {
    justify-content: end;
  }

  .feature{
    padding: 0 15px;
  }
  .feature .feature-item .search {
    display: none;
  }

  .feature .icon{
    display: block;
    /* flex: 1; */
  }
  
  .feature .feature-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 0 0 0;
  }

  .feature .feature-item .cart-title{
    display: none;
  }

  .feature .feature-item .cart {
    position: relative;
    display: flex;
    align-items: center;
    width: 39px;
    height: 39px;
    background-color: var(--primary-color-900);
    border-radius: 5px;
    color: #ffffff;
    justify-content: center;
  }

  .feature .feature-item .cart .cart-icon{
    padding: 5px;
  }
  
  .navigation{
    display: none;
  }

  .bestsell .bestsell-content {
    --spacing: 25px;
    --column: 3;
  }

  .footer-content .col{
    width: 100%;
  }

  .helped {
    padding: 0 15px;
  }

  .helped .form {
    flex: 0 0 100%;
    width: 100%;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .helped .banner {
    flex: 0 0 100%;
    width: 100%;
  }

  .main-container .mobile.reponsive{
    visibility: visible;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 640px) {
  .bestsell .bestsell-content {
    --spacing: 35px;
    --column: 2;
  }

  .main-container .mobile .mobile-content-left .nav li>a{
    font-size: 16px;
  }
  
  .main-container .mobile .mobile-content-left .nav li>ul{
    padding-left: 25px;
  }

  .main-container .mobile .mobile-content-left .nav li>ul>li>a{
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .bestsell .bestsell-content {
    --spacing: 15px;
    --column: 2;
  }
  .bestsell .bestsell-content .card .card-price-sell {
    font-size: 13px;
  }

  .bestsell .bestsell-content .card .card-price-org {
    font-size: 10px;
  }

  .main-container .mobile .mobile-content-left .nav li>a{
    font-size: 14px;
  }
  
  .main-container .mobile .mobile-content-left .nav li>ul{
    line-height: 20px;
    padding-left: 18px;
  }

  .main-container .mobile .mobile-content-left .nav li>ul>li {
    margin-bottom: 5px;
  }

  .main-container .mobile .mobile-content-left .nav li>ul>li>a{
    font-size: 12px;
  }
}